{% extends 'web/index.html' %}
{% block titulo%}Crear Titulo {% endblock titulo%}
{% block cuerpo%}
<section id="formulario">
    <div class="container">
      <table class="table table-striped">
      <thead>
        <tr>          
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
          <th scope="col">Plan</th>
          <th scope="col">Ocupacion</th>
          <th scope="col">Sucursal</th>
          <th scope="col">Estado</th>
          <th scope="col">Valoracion Medica</th>
          <th scope="col">Actualizar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes%}
        <tr>          
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.edad}}</td>
          <td>{{cliente.plan}}</td>
          <td>{{cliente.ocupacion}}</td>
          <td>{{cliente.sucursal}}</td>
          <td>{% if cliente.estado %} activo {% else %}inactivo {% endif%}</td>
          <td align="center"><a href="{% url 'valoracion_medica' cliente.numero_documento %}"><i class="icofont-ebook"></i></a></td>  
          <td align="center"><a href="{% url 'actualizar_usuario' cliente.numero_documento %}"><i class="icofont-refresh"></i></a></td>
          <td align="center"><a href="{% url 'eliminar_usuario' cliente.numero_documento %}"><i class="icofont-ui-delete"></i></a></td>
          
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    </div>
</section>





{%endblock cuerpo%}