{% extends 'web/index.html' %}
{% block titulo%}Crear Titulo {% endblock titulo%}
{% block cuerpo%}    
    <section class="text-center d-flex justify-content-center">

            <form class="form-signin" method="POST">
            {% csrf_token %} 

                <div class="container mt-5">
                    <div class="row">
                        <div class="col-6">
                            <img src="/static/dashboard/images/login/gimnasio_6788.jpg" alt="" width="100%" height="auto">  
                        </div>
                        
                        <div class="col-6 pr-5 pl-5">
                            <h1 class="h3 mb-3 font-weight-bold">¡Bienvenido!</h1> 
                            <h6 class="h6 font-weight-bold">Ingresa tus datos</h6>
                            
                            <br>

                            {% if request.method == 'POST' %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>    
                                    <strong>Error:</strong>Usuario o contraseña invalida
                                </div>      
                            {% endif %}

                            <p for="inputEmail" class="text-left p-login">Usuario</p>            
                                {{ form.username}}
                                {{ form.username.error }}
                            <br>
                            <p for="inputPassword" class="text-left p-login">Contraseña</p>
                                {{ form.password}} 
                            
                            <br>
                            <br>

                            <button class="btn btn-lg btn-danger btn-block" type="submit">INICIAR SESIÓN</button>       
                        </div>
                    </div>
                    
                </div>
            </form>
    </section>
{%endblock cuerpo%}