{% extends 'web/index.html' %}
{% block titulo%}Crear Titulo {% endblock titulo%}
{% block cuerpo%}


    <!-- ======= Pricing Section ======= -->
    <section id="imagen" class="imagen">
          
    </section>
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-4 box">
            <h3>Basico</h3>
            <h4>$100.000<span>Mensual</span></h4>
            
            <a href="#" class="buy-btn">Inscríbete</a>
          </div>

          <div class="col-lg-4 box featured">
            <h3>Intermedio</h3>
            <h4>$110.000<span>Mensual</span></h4>            
            <a href="#" class="buy-btn">Inscríbete</a>
          </div>

          <div class="col-lg-4 box">
            <h3>Elite</h3>
            <h4>$150.000<span>Mensual</span></h4>
            
            <a href="#" class="buy-btn">Inscríbete</a>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

 
{%endblock cuerpo%}