{% extends 'dashboard/index.html' %}
{% block titulo%}Actualizar hist.Medica {% endblock titulo%}
{% block cuerpo%}
<h1>Actualizar Valoracion medica</h1>
<section id="formulario">
    <div class="container p-5">
      <h2 class="mb-5">Actualizar Ficha Médica</h2>
        <form  method="post" >
            {% csrf_token %}
            <div class="form-group">              
              {{form.usuario.label}}
              {{form.usuario}}
            </div>
            <div class="form-group">              
                {{form.altura.label}}
                {{form.altura}}
              </div>
            <div class="form-group">                
                {{form.peso.label}}                
                {{form.peso}}
            </div>
              <div class="form-group">                
                {{form.enfermedad.label}}
                {{form.enfermedad}}
                
              </div>
              <div class="form-group">                
                {{form.alergia.label}}
                {{form.alergia}}
              </div>
              <div class="form-group">                
                {{form.operaciones.label}}
                {{form.operaciones}}
              </div>              
              {{form.errors}}
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </form>

    </div>

</section>




{%endblock cuerpo%}