{% extends 'dashboard/index.html' %}
{% block titulo%}Crear Titulo {% endblock titulo%}
{% block cuerpo%}
<section id="formulario">
    <div class="container">
        <form  method="post" >
            {% csrf_token %}
            <div class="row">
              <div class="form-group col">              
                {{form.nombre.label}}
                {{form.nombre}}
              </div>
              <div class="form-group col">              
                  {{form.apellidos.label}}
                  {{form.apellidos}}
              </div>
            </div>
            <div class="row">
              <div class="form-group col">                
                {{form.tipo_documento.label}}                
                {{form.tipo_documento}}
              </div>  
              <div class="form-group col">                
                {{form.numero_documento.label}}
                {{form.numero_documento}}                
              </div>
              <div class="form-group col">                
                {{form.edad.label}}
                {{form.edad}}
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                {{form.username.label}}
                {{form.username}}
              </div>
              <div class="form-group col">
                {{form.email.label}}
                {{form.email}}
              </div>

            </div>
            <div class="row">
              <div class="form-group col">     
                {{form.plan.label}}
                {{form.plan}}
              </div>
              <div class="form-group col">                
                {{form.sucursal.label}}
                {{form.sucursal}}
              </div>
            </div>           
              
            <div class="form-group">                
              {{form.ocupacion.label}}
              {{form.ocupacion}}
            </div>
              
              
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>

    </div>

</section>




{%endblock cuerpo%}