{% extends 'dashboard/index.html' %}
{% block titulo%}Crear Planes {% endblock titulo%}
{% block cuerpo%}
<section id="formulario">
    <div class="container p-5">
      <h2 class="mb-5">Crear Ejercicio</h2>
        <form  method="post" >
            {% csrf_token %}
            <div class="row">
              <div class="form-group col">              
                {{form.nombre.label}}
                {{form.nombre}}
              </div>
              <div class="form-group col">              
                  {{form.duracion.label}}
                  {{form.duracion}}
              </div>              
            </div>
            <div class="row">                          
              <div class="form-group col">              
                  {{form.series.label}}
                  {{form.series}}
              </div>
              <div class="form-group col">              
                {{form.repeticiones.label}}
                {{form.repeticiones}}
            </div>
            <div class="form-group col">              
                {{form.descanso.label}}
                {{form.descanso}}
            </div>
            </div>       
                         
              
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>

    </div>

</section>




{%endblock cuerpo%}