{% extends 'dashboard/index.html' %}
{% block titulo%}Crear Planes {% endblock titulo%}
{% block cuerpo%}
<section id="formulario">
    <div class="container p-5">
      <h2 class="mb-5">Crear Plan</h2>
        <form  method="post" >
            {% csrf_token %}
            <div class="row">
              <div class="form-group col">              
                {{form.nombre.label}}
                {{form.nombre}}
              </div>
              <div class="form-group col">              
                  {{form.valor.label}}
                  {{form.valor}}
              </div>              
            </div>
            <div class="row">                          
              <div class="form-group col">              
                  {{form.estado.label}}
                  {{form.estado}}
              </div>
            </div>       
              
            <button id="btnGuardar" type="submit" class="btn btn-primary">Guardar</button>
          </form>

    </div>

</section>




{%endblock cuerpo%}