{% extends 'dashboard/index.html' %}
{% block titulo%}Crear Titulo {% endblock titulo%}
{% block cuerpo%}
<section id="formulario">    
    <div class="container p-5">
      <h2 class="mb-5">Actualizar Valoración Médica</h2>
        <form  method="post" >
            {% csrf_token %}
            <div class="form-group">              
              {{form.usuario.label}}
              {{object.usuario}}
            </div>
            <div class="form-group">              
                {{form.altura.label}}
                {{object.altura}}
              </div>
            <div class="form-group">                
                {{form.peso.label}}                
                {{object.peso}}
            </div>
              <div class="form-group">                
                {{form.enfermedad.label}}
                {{object.enfermedad}}
                
              </div>
              <div class="form-group">                
                {{form.alergia.label}}
                {{object.alergia}}
              </div>
              <div class="form-group">                
                {{form.operaciones.label}}
                {{object.operaciones}}
              </div>       
            <a class="btn btn-primary" href="{% url 'actualizar_valoracion_medica'  object.pk %}">Actualizar</a>                                 
          </form>

    </div>

</section>




{%endblock cuerpo%}