<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block titulo %}Dashboard Power Gym{% endblock titulo%} </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/dashboard/images/favicon.png">
    <link rel="stylesheet" href="/static/dashboard/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/dashboard/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/dashboard/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/style.css" rel="stylesheet">
    
    



</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="/static/dashboard/images/logo.png" alt="">
                <img class="logo-compact" src="/static/dashboard/images/logo-text.png" alt="">
                <img class="brand-title" src="/static/dashboard/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            
                        </div>
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">                                
                                <h5>{{ user.nombre | upper }} {{ user.apellidos | upper }}</h5>                                
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>                                    
                                    <a href="{% url 'logout' %}" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Menu principal</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Usuarios</span></a>
                        <ul aria-expanded="false">
                            
                            <li><a href="{% url 'dashboard'%}">Listar Usuarios</a></li>
                            <li><a href="{% url 'crear_usuario'%}">Crear Usuarios</a></li>
                        </ul>
                    </li>

                    
                     <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                         <i class="material-icons">fitness_center</i></i><span class="nav-text">Sucursales</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'listar_sucursales'%}">Listar Sucursales</a></li>
                            <li><a href="{% url 'crear_sucursal' %}">Crear Sucursales</a></li>
                        </ul>
                    </li>
                     <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="material-icons">assignment</i>
                     </i><span class="nav-text">Planes</span></a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'dashboard'%}">Listar Planes</a></li>
                            <li><a href="{% url 'crear_usuario'%}">Crear Crear Planes</a></li>
                        </ul>
                    </li>
                   
                    
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            {% block cuerpo %}
            <section id="formulario">
                <div class="container">
                  <table class="table table-striped">
                  <thead>
                    <tr align="center">          
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Edad</th>
                      <th scope="col">Plan</th>
                      <th scope="col">Ocupacion</th>
                      <th scope="col">Sucursal</th>
                      <th scope="col">Estado</th>
                      <th scope="col" >Valoracion Medica</th>
                      <th scope="col">Actualizar</th>                      
                    </tr>
                  </thead>
                  <tbody>
                      
                    {% for cliente in object_list %}
                    <tr align="center">          
                      <td>{{cliente.nombre}}</td>
                      <td>{{cliente.apellidos}}</td>
                      <td>{{cliente.edad}}</td>
                      <td>{{cliente.plan}}</td>
                      <td>{{cliente.ocupacion}}</td>
                      <td>{{cliente.sucursal}}</td>
                      <td>{% if cliente.estado %} activo {% else %}inactivo {% endif%}</td>
                      <td ><a href="{% url 'valoracion_medica' cliente.pk %}"><i class="material-icons">local_hospital</i></a></td>  
                      <td ><a href="{% url 'actualizar_usuario' cliente.pk %}"><i class="material-icons">loop</i></a></td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
                </div>
            </section>
            {% endblock cuerpo%}
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/static/dashboard/vendor/global/global.min.js"></script>
    <script src="/static/dashboard/js/quixnav-init.js"></script>
    <script src="/static/dashboard/js/custom.min.js"></script>


    <!-- Vectormap -->
    <script src="/static/dashboard/vendor/raphael/raphael.min.js"></script>
    <script src="/static/dashboard/vendor/morris/morris.min.js"></script>


    <script src="/static/dashboard/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/static/dashboard/vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="/static/dashboard/vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="/static/dashboard/vendor/flot/jquery.flot.js"></script>
    <script src="/static/dashboard/vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="/static/dashboard/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="/static/dashboard/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="/static/dashboard/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="/static/dashboard/vendor/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="/static/dashboard/js/dashboard/dashboard-1.js"></script>

</body>

</html>