{% extends 'dashboard/index.html' %}
{% block titulo%}Crear Titulo {% endblock titulo%}
{% block cuerpo%}
<section id="formulario">
    <div class="container">
        <form  method="post" >
            {% csrf_token %}
            <div class="form-group">              
              {{form.usuario.label}}
              {{form.usuario}}
            </div>
            <div class="form-group">              
                {{form.altura.label}}
                {{form.altura}}
              </div>
            <div class="form-group">                
                {{form.peso.label}}                
                {{form.peso}}
            </div>
              <div class="form-group">                
                {{form.enfermedad.label}}
                {{form.enfermedad}}
                
              </div>
              <div class="form-group">                
                {{form.alergia.label}}
                {{form.alergia}}
              </div>
              <div class="form-group">                
                {{form.operaciones.label}}
                {{form.operaciones}}
              </div>              
              
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>

    </div>

</section>




{%endblock cuerpo%}